<% content_for :head do %>
    <!-- title -->
    <title>Shop | Paiement</title>
    <%= stylesheet_link_tag    'all.min.css' %>
    <%= stylesheet_link_tag    'bootstrap.min.css' %>
    <%= stylesheet_link_tag    'owl.carousel.css' %>
    <%= stylesheet_link_tag    'magnific-popup.css' %>
    <%= stylesheet_link_tag    'animate.css' %>
    <%= stylesheet_link_tag    'meanmenu.min.css' %>
    <%= stylesheet_link_tag    'main.css' %>
    <%= stylesheet_link_tag    'responsive.css' %>
<% end %>


<h1><%= @total_price %></h1>



<%= javascript_include_tag 'jquery-1.11.3.min.js' %>
<%= javascript_include_tag 'bootstrap.min.js' %>
<%= javascript_include_tag 'jquery.countdown.js' %>
<%= javascript_include_tag 'jquery.isotope-3.0.6.min.js' %>
<%= javascript_include_tag 'waypoints.js' %>
<%= javascript_include_tag 'owl.carousel.min.js' %>
<%= javascript_include_tag 'jquery.magnific-popup.min.js' %>
<%= javascript_include_tag 'jquery.meanmenu.min.js' %>
<%= javascript_include_tag 'sticker.js' %>
<%= javascript_include_tag 'main.js' %>