<% content_for :head do %>
    <!-- title -->
    <title>Shop | Shop</title>
    <%= stylesheet_link_tag    'all.min.css' %>
    <%= stylesheet_link_tag    'bootstrap.min.css' %>
    <%= stylesheet_link_tag    'owl.carousel.css' %>
    <%= stylesheet_link_tag    'magnific-popup.css' %>
    <%= stylesheet_link_tag    'animate.css' %>
    <%= stylesheet_link_tag    'meanmenu.min.css' %>
    <%= stylesheet_link_tag    'main.css' %>
    <%= stylesheet_link_tag    'responsive.css' %>
<% end %>



<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>Fresh and Organic</p>
					<h1>Shop</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->

<!-- products -->
<div class="product-section mt-150 mb-150">
	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<div class="product-filters">
					<ul>
						<li class="active" data-filter="*">All</li>
                        <% @categories.each do |category| %>
                            <li data-filter=".<%= category.name %>"><%= category.name %></li>
                        <% end %>
					</ul>
				</div>
			</div>
		</div>

		<div class="row product-lists">
            <% @products.each do |product| %>
                <div class="col-lg-4 col-md-6 text-center strawberry">
                    <div class="single-product-item">
                        <div class="product-image m-auto">
                            <%= link_to product_path(product) do %><%= image_tag product.image.url if product.image.url && product.image %><% end %>
                        </div>
                        <h3><%= product.category.name %></h3>
                        <p class="product-price"><span><%= product.name %></span> <%= product.price %>$ </p>
                        <%= link_to add_cart_path(product_id: product.id), class: "cart-btn" do  %><i class="fas fa-shopping-cart"></i> Add to Cart<% end %>
                    </div>
                </div>
            <% end %>
		</div>

		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="pagination-wrap">
					<ul>
						<li><a href="#">Prev</a></li>
						<li><a href="#">1</a></li>
						<li><a class="active" href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">Next</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end products -->



<%= javascript_include_tag 'jquery-1.11.3.min.js' %>
<%= javascript_include_tag 'bootstrap.min.js' %>
<%= javascript_include_tag 'jquery.countdown.js' %>
<%= javascript_include_tag 'jquery.isotope-3.0.6.min.js' %>
<%= javascript_include_tag 'waypoints.js' %>
<%= javascript_include_tag 'owl.carousel.min.js' %>
<%= javascript_include_tag 'jquery.magnific-popup.min.js' %>
<%= javascript_include_tag 'jquery.meanmenu.min.js' %>
<%= javascript_include_tag 'sticker.js' %>
<%= javascript_include_tag 'main.js' %>